:root {
    --font-family-sans: 'Open Sans', sans-serif;
    --font-family-serif: 'PT Serif', serif;
    --font-family-script: 'Pinyon Script', cursive;

    --color-primary: #141619;
    --color-secondary: #EDE8F5;
    --color-tertiary: #66FCF1;
    --color-quaternary: #050A44;
    --color-quinary: #0A21C0;
}

.footer {
    background-color: var(--color-quaternary);
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
}

.footer-icons {
    display: flex;
    color: var(--color-quinary);
}

.pages-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-icons h3 {
    color: var(--color-secondary);
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location h3 {
    color: var(--color-secondary);
}

.location h5 {
    color: var(--color-quinary);
}

.get-in-touch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-in-touch h3 {
    color: var(--color-secondary);
}

.get-in-touch h5 {
    color: var(--color-quinary);
}
