:root {
  --font-family: 'Open Sans', sans-serif;
  --font-family-serif: 'PT Serif', serif;
  --font-family-script: 'Pinyon Script', cursive;
  --color-primary: #141619;
  --color-secondary: #EDE8F5;
  --color-tertiary: #66FCF1;
  --color-quaternary: #050A44;
  --color-quinary: #0A21C0;
}
.about {
  background-color: black;
}
.about .Aboutheading h1 {
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 80px;
  font-weight: 300;
  color: #0A21C0;
  margin-bottom: 0rem;
}
.about .Topics {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  /* margin: 1rem; */
  column-gap: 1rem;
}
.about .Topics .Topic1 {
  border: #EDE8F5 solid 2px;
  padding: 1rem;
  border-radius: 10px;
}
.about .Topics .Topic1 h1 {
  display: flex;
  justify-content: center;
  color: #0A21C0;
  font-size: 100px;
}
.about .Topics .Topic1 h2 {
  display: flex;
  justify-content: center;
  color: #0A21C0;
  font-size: 20px;
}
.about .Topics .Topic1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var #EDE8F5;
  font-weight: 100;
  font-size: 15px;
}
body {
    background-color: #000000;
  }
  
  .main {
    margin-top: 10%;
  }
  
  .mySwiper {
    width: 80%;
    margin: auto;
  }
  
  .swiper-slide {
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
  }
  
  .testimonials-profile-circle {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .testimonial-avatar {
    width: 100px;
    height: 100px;
    border: 3px solid #1d8ba0;
    border-radius: 50%;
  }
  
  .review-by {
    color: #1d8ba0;
    font-size: 18px;
  }
  
  .head {
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    font-family: "Courier New", Courier, monospace;
  }
  
  .head-p {
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    font-family: "Courier New", Courier, monospace;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    border: 2px solid #1d8ba0 !important;
    width: 30px !important;
    height: 1px !important;
    border-radius: 1px !important;
  }
  
  .swiper-pagination-bullet {
    background-color: #ffffff !important;
    border: 2px solid #1d8ba0 !important;
    width: 30px !important;
    height: 1px !important;
    border-radius: 1px !important;
  }
  